.makeStyles-root-27 {
    min-width: 350px;
    height: 520px;
}
/* .makeStyles-media-30 {
    height: 250px;
    min-width: 100%;
} */
.MuiCardMedia-root {
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: initial !important;
    background-color: #D4E2F9;
}
.MuiTypography-gutterBottom {
    margin-bottom: 0.35em;
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 28px;
    color: #13B3CC;
}
.MuiTypography-colorTextSecondary {
    color: #9EA4A5;
    font-family: Arial, sans-serif;
    /* font-size: 10px; */
}
legend.MuiTypography-root.MuiTypography-body1 {
    color: #57D2E5;
    font-family: Arial Narrow, sans-serif;
    font-weight: bold;
}
.MuiPaper-rounded {
    border-radius: 30px !important;
}
.makeStyles-root-1 {
    max-width: 376px;
}
/* .fieldset {
    display: block;
    margin-inline-start: 10px !important;
    margin-inline-end: 2px;
} */
/* .MuiPaper-root.MuiCard-root.makeStyles-root-10.MuiPaper-elevation1.MuiPaper-rounded {
width:100px;
height: 100px;
background: red;
position: relative;
transition: all 2s;
overflow: hidden;
} */
/* .part2{
    min-width: 350px;
    height: 100px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    transition: all 1s;
}
.part2:hover{
    height: 50%;
} */
/* .makeStyles-root-10 {
    max-width: 345px;
    background: red;
    transition: all 2s;
    position: relative;
    overflow: hidden;
} */